In [1]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
df_train = pd.read_csv('train.csv')

In [13]:
#drop unnecessary fields
df_train = df_train.drop(["pickup_time", "drop_time"], axis = 1)

In [12]:
features = df_train.columns[1:11]
features

Index(['ADDITIONAL_FARE', 'DURATION', 'METER_WAITING', 'METER_WAITING_FARE',
       'METER_WAITING_TILL_PICKUP', 'PICK_LAT', 'PICK_LON', 'DROP_LAT',
       'DROP_LON', 'FARE'],
      dtype='object')

In [15]:
df_train.fillna(0, inplace=True)

In [16]:
#look for NA values
dfColumns=[col.strip().upper() for col in df_train.columns]
df_train.columns=dfColumns
print("Data Fields with NA values:")
print(df_train.columns[df_train.isna().any()].tolist())

Data Fields with NA values:
[]

In [17]:
df_train

,TRIPID,ADDITIONAL_FARE,DURATION,METER_WAITING,METER_WAITING_FARE,METER_WAITING_TILL_PICKUP,PICK_LAT,PICK_LON,DROP_LAT,DROP_LON,FARE,LABEL
0,189123628,10.5,834.0,56.0,0.0000,64.0,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,0.0,0.0,0.0,0.0000,0.0,6.87441,79.8615,6.84478,79.9290,358.39,correct
...,...,...,...,...,...,...,...,...,...,...,...,...
17171,213803193,10.5,838.0,93.0,5.4219,451.0,7.29073,80.6367,7.28891,80.6557,198.26,correct
17172,213812756,10.5,2151.0,428.0,0.0000,39.0,6.90569,79.8516,6.95089,79.9389,581.23,correct
17173,213813930,10.5,263.0,9.0,0.0000,110.0,7.09210,79.9000,7.10135,79.9017,76.20,correct
17174,213815405,10.5,858.0,115.0,0.0000,317.0,6.94540,79.8768,6.93574,79.9010,133.31,correct
17175,213817296,10.5,262.0,21.0,1.2243,23.0,6.90257,79.9557,6.90823,79.9374,98.57,correct

In [18]:
#convert correct,incoreect into 1,0
y = (df_train['LABEL'] == 'correct').astype(int)    
print(y[:21])

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
12    1
13    0
14    1
15    1
16    1
17    1
18    1
19    1
20    0
Name: LABEL, dtype: int32

In [38]:
clf = RandomForestClassifier(n_jobs = 2, random_state=70)
clf.fit(df_train[features], y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=70, verbose=0,
                       warm_start=False)

In [39]:
#get test data
df_test =  pd.read_csv('test.csv')
df_test = df_test.drop(["pickup_time", "drop_time"], axis = 1)
df_test

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.44860,148,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.00000,91,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.65880,23,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.00000,198,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.36920,69,6.97968,79.9130,6.98875,79.8914,147.47
...,...,...,...,...,...,...,...,...,...,...,...
8571,222856243,10.5,1723,429,24.83332,3,6.85103,79.9567,6.85588,79.9214,388.48
8572,222857785,10.5,1378,80,0.00000,125,6.91293,79.9656,6.92112,79.8980,379.85
8573,222858416,10.5,418,56,3.28440,93,6.85718,79.9081,6.83868,79.9083,112.79
8574,222858691,10.5,1604,548,31.67440,17,6.91289,79.8846,6.93159,79.9145,248.46
8575,222860703,10.5,1698,691,32.88820,42,6.91682,79.9192,6.87020,79.9340,339.63

In [40]:
test_features = df_test.columns[1:11]
test_features

Index(['additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare',
       'meter_waiting_till_pickup', 'pick_lat', 'pick_lon', 'drop_lat',
       'drop_lon', 'fare'],
      dtype='object')

In [41]:
prediction = clf.predict(df_test[test_features])

In [42]:
df_test['prediction'] = prediction
df_test

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare,prediction
0,213284604,10.5,924,42,2.44860,148,6.83454,79.8750,6.77490,79.8840,289.27,1
1,213286352,10.5,4249,20,0.00000,91,6.91168,79.8723,6.55091,79.9706,1912.70,1
2,213293973,10.5,1552,255,2.65880,23,6.92145,79.8478,6.90539,79.8989,394.00,1
3,213294622,10.5,462,16,0.00000,198,6.77433,79.9416,6.80401,79.9407,154.32,1
4,213298687,10.5,814,392,12.36920,69,6.97968,79.9130,6.98875,79.8914,147.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8571,222856243,10.5,1723,429,24.83332,3,6.85103,79.9567,6.85588,79.9214,388.48,1
8572,222857785,10.5,1378,80,0.00000,125,6.91293,79.9656,6.92112,79.8980,379.85,1
8573,222858416,10.5,418,56,3.28440,93,6.85718,79.9081,6.83868,79.9083,112.79,1
8574,222858691,10.5,1604,548,31.67440,17,6.91289,79.8846,6.93159,79.9145,248.46,1
8575,222860703,10.5,1698,691,32.88820,42,6.91682,79.9192,6.87020,79.9340,339.63,1

In [43]:
header = ["tripid", "prediction"]
df_test.to_csv('D:/test1.csv', columns = header)